src/langchain/testing/xml_docs/AR50_documentation.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="https://skjema.geonorge.no/SOSI/produktspesifikasjon/AR50/20220523" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="https://skjema.geonorge.no/SOSI/produktspesifikasjon/AR50/20220523" version="20220523">
  <annotation>
    <documentation>Denne spesifikasjonen beskriver datasettet AR50 – Arealressurskart for målestokk 1:50 000. Dette er et landsdekkende datasett som viser hovedtyper av arealressurser i målestokk 1:50 000 tilpasset bruk i målestokker fra 1:20 000 til 1:100 000. AR50 fremstilt ved en generalisering av FKB-AR5 under tregrensa og tolking av satellittbilder over tregrensa. For klassifisering av treslag har det tillegg har det vært benyttet N50 skog uten registrert treslag der det ikke finnes AR5. Figurer som er mindre enn 15 dekar vises ikke på kartet, men blir slått sammen med tilgrensende områder.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ArealressursArealtypeType">
    <annotation>
      <documentation>AreaResourceAreaType: hovedinndeling etter kriterier for vegetasjon, naturlig drenering og kulturpåvirkning


-- Definition - - 
main categorization according to criteria for vegetation, natural drainage and cultural impact</documentation>
    </annotation>
    <union memberTypes="app:ArealressursArealtypeEnumerationType app:ArealressursArealtypeOtherType"/>
  </simpleType>
  <simpleType name="ArealressursArealtypeEnumerationType">
    <annotation>
      <documentation>AreaResourceAreaType: hovedinndeling etter kriterier for vegetasjon, naturlig drenering og kulturpåvirkning


-- Definition - - 
main categorization according to criteria for vegetation, natural drainage and cultural impact</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Developed area and traffic: areal som brukes til samferdsel eller bebyggelse

-- Definition -- 
area which is used for traffic or  houses</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Agriculture: fulldyrka jord, overflatedyrka jord og innmarksbeite

-- Definition -- 
fully cultivated land, superficially cultivated land, and home fields grazing land</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>Forest: areal med minst 6 trær per dekar som er eller kan bli 5 meter høye, og disse bør være jevnt fordelt på arealet.

-- Definition -- 
area with at least 60 trees per hectare which are or  may become 5 metres tall, and which should be evenly distributed over the area</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>Open firm ground: fastmark som ikke er jordbruksareal, skog, bebygd eller samferdsel

-- Definition -- 
firm ground which is not farmland, forest, developed or usedfor communications purposes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Marsh: areal med myrvegetasjon og minst 30 cm tjukt torvlag

-- Definition -- 
area with marsh vegetation and a peat layer at least 30 cmthick</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>Snowy glacier??: blanding av snø og isbre som ikke smelter i løpet av sommeren

-- Definition -- 
mix of snow and ice which does not melt during the summer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>Freshwater: innsjø og elv

-- Definition -- 
lakeand river</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>Ocean: hav

-- Definition -- 
ocean</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Not surveyed: areal som har ukjent beskaffenhet.

-- Definition -- 
area of unknown character.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursArealtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursAvgrensingTypeType">
    <annotation>
      <documentation>AreaResourceDelimitationType: informasjon om grense som er henta fra annet datasett


-- Definition - - 
information relating to boundary retrieved from another set of data</documentation>
    </annotation>
    <union memberTypes="app:ArealressursAvgrensingTypeEnumerationType app:ArealressursAvgrensingTypeOtherType"/>
  </simpleType>
  <simpleType name="ArealressursAvgrensingTypeEnumerationType">
    <annotation>
      <documentation>AreaResourceDelimitationType: informasjon om grense som er henta fra annet datasett


-- Definition - - 
information relating to boundary retrieved from another set of data</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="4206">
        <annotation>
          <documentation>AreaResourceBoundary: grense mot annet arealressurskartlagt areal

-- Definition -- 
boundary toward another area resource surveyed area</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9300">
        <annotation>
          <documentation>NonSurveyedBoundary: grense mot ikke kartlagt område

-- Definition -- 
boundary on a non-surveyed area</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3310">
        <annotation>
          <documentation>GlacierBoundary: grense mot isbre

-- Definition -- 
boundary on a glacier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9111">
        <annotation>
          <documentation>Storage Unit Boundary: grense for lagringsenhet

-- Definition -- 
boundary for storage unit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7200">
        <annotation>
          <documentation>Traffic boundary: grense mot samferdselsområde

-- Definition -- 
boundary on traffic area</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Water boundary: grense mot vann

-- Definition -- 
boundary on water</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursAvgrensingTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ArealressursFlate" substitutionGroup="app:Fellesegenskaper" type="app:ArealressursFlateType">
    <annotation>
      <documentation>AreaResourceSurface: et sammenhengende areal som er tilordnet de samme egenskapsverdiene i henhold til et Arealressursklassifikasjonssystem


-- Definition -- 
a continuous area which has been assigned the same attribute values in accordance with an area resource classification system</documentation>
    </annotation>
  </element>
  <complexType name="ArealressursFlateType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning

-- Definition -- 
area over which an object extends</documentation>
            </annotation>
          </element>
          <element name="arealtype" type="app:ArealressursArealtypeType">
            <annotation>
              <documentation>areaType: hovedinndeling etter kriterier for vegetasjon, naturlig drenering og kulturpåvirkning

-- Definition -- 
main categorization according to criteria for vegetation, natural drainage and cultural impact</documentation>
            </annotation>
          </element>
          <element name="skogbonitet" type="app:ArealressursSkogbonitetType">
            <annotation>
              <documentation>forestSiteQuality: inndeling etter arealets evne til å produsere trevirke

-- Definition -- 
categorization according to the ability of the area to produce wood</documentation>
            </annotation>
          </element>
          <element name="treslag" type="app:ArealressursTreslagType">
            <annotation>
              <documentation>type of wood: inndeling etter fordeling av kronedekket mellom bartrær og lauvtrær

-- Definition -- 
 categorization according to the distribution of crown cover between coniferous and deciduous trees</documentation>
            </annotation>
          </element>
          <element name="jordbruk" type="gml:CodeType">
            <annotation>
              <documentation>Temaet ’Jordbruk’ dekker samme geografiske område som klasse 20 (Jordbruk) i temaet ’Arealtype’. Temaet er basert på AR5. Egenskapsverdiene er numeriske.</documentation>
            </annotation>
          </element>
          <element name="vegetasjonsdekke" type="app:ArealressursVegetasjonsdekkeType">
            <annotation>
              <documentation>vegetationCover: informasjon om vegetasjonsdekkets frodighet på snaumark

-- Definition -- 
information concerning the lushness of the vegetation cover on bare land</documentation>
            </annotation>
          </element>
          <element name="kartstandard" type="app:ArealressursKartstandardType">
            <annotation>
              <documentation>mapStandard: informasjon om hvilket klassifikasjonssystem som er brukt

-- Definition -- 
information concerning which classification system has been used</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArealressursFlatePropertyType">
    <sequence minOccurs="0">
      <element ref="app:ArealressursFlate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ArealressursGrense" substitutionGroup="app:Fellesegenskaper" type="app:ArealressursGrenseType">
    <annotation>
      <documentation>AreaResourceBoundary: avgrensing for en eller to arealressursflater


-- Definition -- 
delimitation for one or two area resource surfaces</documentation>
    </annotation>
  </element>
  <complexType name="ArealressursGrenseType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener

-- Definition -- 
course follwing the transition between different real world phenomena</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArealressursGrensePropertyType">
    <sequence minOccurs="0">
      <element ref="app:ArealressursGrense"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ArealressursKartstandardType">
    <annotation>
      <documentation>AreaResourceMapStandard: informasjon om hvilket klassifikasjonssystem som er brukt


-- Definition - - 
information concerning which classification system has been used</documentation>
    </annotation>
    <union memberTypes="app:ArealressursKartstandardEnumerationType app:ArealressursKartstandardOtherType"/>
  </simpleType>
  <simpleType name="ArealressursKartstandardEnumerationType">
    <annotation>
      <documentation>AreaResourceMapStandard: informasjon om hvilket klassifikasjonssystem som er brukt


-- Definition - - 
information concerning which classification system has been used</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="AR50"/>
      <enumeration value="AR50S"/>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursKartstandardOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursSkogbonitetType">
    <annotation>
      <documentation>AreaResourceForestSiteQuality: inndeling etter arealets evne til å produsere trevirke


-- Definition - - 
categorization according to the area's ability to produce wood</documentation>
    </annotation>
    <union memberTypes="app:ArealressursSkogbonitetEnumerationType app:ArealressursSkogbonitetOtherType"/>
  </simpleType>
  <simpleType name="ArealressursSkogbonitetEnumerationType">
    <annotation>
      <documentation>AreaResourceForestSiteQuality: inndeling etter arealets evne til å produsere trevirke


-- Definition - - 
categorization according to the area's ability to produce wood</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="11">
        <annotation>
          <documentation>Impediment: mindre enn 0,1 m³ tilvekst per dekar og år

-- Definition -- 
less than 1.0 m³ growth per hectare per year</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>Low: 0,1 - 0,3 m³ tilvekst per dekar og år

-- Definition -- 
1.0 - 3.0 m³ growth per hectare per year</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>Medium: 0,3 - 0,5 m³ tilvekst per dekar og år

-- Definition -- 
3.0 - 5.0 m³ growth per hectare per year</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>High and particularly high: mer enn 0,5 m³ tilvekst per dekar og år

-- Definition -- 
more than 5.0 m³ growth per hectare per year</documentation>
        </annotation>
      </enumeration>
      <enumeration value="98">
        <annotation>
          <documentation>Not relevant: opplysning om skogbonitet er ikke relevant

-- Definition -- 
information relating to the forest productivity class is not relevant</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Not registered: opplysning om skogbonitet er ikke registrert

-- Definition -- 
information relating to the forest productivity class has not been registered:</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursSkogbonitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursTreslagType">
    <annotation>
      <documentation>AreaResourceTypeOfWood: inndeling etter fordeling av kronedekket mellom bartrær og lauvtrær


-- Definition - - 
categorization according to the distribution of the crown cover between coniferous and deciduous trees</documentation>
    </annotation>
    <union memberTypes="app:ArealressursTreslagEnumerationType app:ArealressursTreslagOtherType"/>
  </simpleType>
  <simpleType name="ArealressursTreslagEnumerationType">
    <annotation>
      <documentation>AreaResourceTypeOfWood: inndeling etter fordeling av kronedekket mellom bartrær og lauvtrær


-- Definition - - 
categorization according to the distribution of the crown cover between coniferous and deciduous trees</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="31">
        <annotation>
          <documentation>Coniferous forest: minst 50 % av skogdekt areal er dekt av bartrær

-- Definition -- 
at least 50% of the area is covered by conifers</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>Deciduous forest: mindre enn 20 % av skogdekt areal er dekt av bartrær

-- Definition -- 
less than 20% of the forested area is covered by conifers</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>Mixied forest: mellom 20 - 50 % av skogdekt areal er dekt av bartrær

-- Definition -- 
between 20 and 50% of the forested area is covered by conifers</documentation>
        </annotation>
      </enumeration>
      <enumeration value="39">
        <annotation>
          <documentation>No growth of trees: arealet har ikke tresetting som holder kravet til skog

-- Definition -- 
the area does not have sufficient trees to warrant the definition forest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="98">
        <annotation>
          <documentation>Not relevant: opplysning om treslag er ikke relevant

-- Definition -- 
information concerning type of wood is not relevant</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Not registered: opplysning om treslag er ikke registrert

-- Definition -- 
information concerning type of wood has not been registered</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursTreslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursVegetasjonsdekkeType">
    <annotation>
      <documentation>AreaResourceVegetationCover: informasjon om vegetasjonsdekkets frodighet på snaumark


-- Definition - - 
information concerning the lushness of the vegetation cover on unforested land</documentation>
    </annotation>
    <union memberTypes="app:ArealressursVegetasjonsdekkeEnumerationType app:ArealressursVegetasjonsdekkeOtherType"/>
  </simpleType>
  <simpleType name="ArealressursVegetasjonsdekkeEnumerationType">
    <annotation>
      <documentation>AreaResourceVegetationCover: informasjon om vegetasjonsdekkets frodighet på snaumark


-- Definition - - 
information concerning the lushness of the vegetation cover on unforested land</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="51">
        <annotation>
          <documentation>Impediment: ikke vegetasjonsdekt

-- Definition -- 
No vegetation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>Barren non-continuous: skrint til usammenhengende vegetasjonsdekke

-- Definition -- 
barren to non-continuous vegetation cover</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>Lichen cover: skrinn mark med lav

-- Definition -- 
barren land with lichen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>Barren to good: skrint til godt vegetasjonsdekke

-- Definition -- 
barren to good vegetation cover</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>Lush non-continuous: godt til frodig usammenhengende vegetasjonsdekke

-- Definition -- 
good to lush non-continuous vegetation cover</documentation>
        </annotation>
      </enumeration>
      <enumeration value="98">
        <annotation>
          <documentation>Not relevant: opplysning om vegetasjonsdekke er ikke relevant

-- Definition -- 
information concerning vegetation cover is not relevant</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Not registered: opplysning om vegetasjonsdekke er ikke registrert

-- Definition -- 
information concerning vegetation cover has not been registered</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArealressursVegetasjonsdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er fagområde-uavhengige og kan benyttes for alle objekttyper

Merknad:
Spesielt i produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning

Merknad:
Her legges det inn utfyllende informasjon om objektet</documentation>
            </annotation>
          </element>
          <element name="kopidata" type="app:KopidataPropertyType">
            <annotation>
              <documentation>angivelse av at objektet er hentet fra en kopi av originaldata
Merknad: 
Kan benyttes dersom man gjør et uttak av en database som ikke inneholder originaldataene.</documentation>
            </annotation>
          </element>
          <element name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen

Merknad: Denne er identisk med ..KVALITET i tidligere versjoner av SOSI.</documentation>
            </annotation>
          </element>
          <element name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektetdataene 

Merknad: 
Oppdateringsdato kan være forskjellig fra Datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen).

-Definition-
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

NOTE: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

NOTE 1 : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO_SL_AR50_2014</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="app:Identifikasjon"/>
    </sequence>
  </complexType>
  <element name="Kopidata" substitutionGroup="gml:AbstractObject" type="app:KopidataType">
    <annotation>
      <documentation>angivelse av at objektet er hentet fra en kopi av originaldata
Merknad: 
Kan benyttes dersom man gjør et uttak av en database som ikke inneholder originaldataene.</documentation>
    </annotation>
  </element>
  <complexType name="KopidataType">
    <sequence>
      <element name="områdeId" type="integer">
        <annotation>
          <documentation>identifikasjon av område som dataene dekker

Merknad: Kan angis med kommunenummer eller fylkesnummer. Disse bør spesifiseres nærmere.</documentation>
        </annotation>
      </element>
      <element name="originalDatavert" type="string">
        <annotation>
          <documentation>ansvarlig etat for forvaltning av data</documentation>
        </annotation>
      </element>
      <element name="kopidato" type="dateTime">
        <annotation>
          <documentation>dato når objektet ble kopiert fra originaldatasettet  

Merknad:
Er en del av egenskapen Kopidata. Brukes i de tilfeller hvor en kopidatabase brukes til distribusjon.
Å kopiere et datasett til en kopidatabase skal ikke føre til at Oppdateringsdato blir endret.
Eventuell redigering av data i et kopidatasett medfører ny Oppdateringsdato, Datafangstdato og/eller Verifiseringsdato.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="KopidataPropertyType">
    <sequence>
      <element ref="app:Kopidata"/>
    </sequence>
  </complexType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>MeasuringMethod: metode som ligger til grunn for registrering av posisjon


-- Definition - - 
method on which registration of position is based</documentation>
    </annotation>
    <union memberTypes="app:MålemetodeEnumerationType app:MålemetodeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>MeasuringMethod: metode som ligger til grunn for registrering av posisjon


-- Definition - - 
method on which registration of position is based</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Measured in terrain: Målt i terrenget , uspesifisert metode/måleinstrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>Total station: Målt i terrenget med totalstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>Theodolite with electronic rangefinder: Målt i terrenget med teodolitt og elektronisk avstandsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>Theodolite with measuring tape: Målt i terrenget med teodolitt og målebånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>Orthogonal method: Målt i terrenget, ortogonalmetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>MeasureOut: Punkt beregnet på bakgrunn av måling mot andre punkter, slik som to avstander eller avstand og retning

-- Definition -- 
Point calculated on the basis of other items, such as two distances or distance + direction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Taken from plan: Tatt fra plan eller godkjent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Stereo instrument: Målt i stereoinstrument, uspesifisert instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>Aerotriangulated: Punkt beregnet ved aerotriangulering

-- Definition -- 
Point calculated by aerotriangulation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>Analytical plotter: Målt i stereoinstrument, analytisk plotter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>Autograph - normal registration: Målt i stereoinstrument, autograf, analogt instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24"/>
      <enumeration value="30">
        <annotation>
          <documentation>Scanned from map: Geometri overført fra kart maskinelt ved hjelp av skanner, uspesifisert kartmedium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31">
        <annotation>
          <documentation>Scannet from pencilled original: Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er blyantoriginal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>Scanned from ??scribing folio: Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er rissefolie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>Scanned from transparency folio - good quality: Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er transparent folie av  god kvalitet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>Scanned from transparency folio - inferior quality: Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er transparent folie av mindre god kvalitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>Scannet from paper / hard copy: Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er papirkopi.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>Airbourne laser scanner: Målt med laserskanner fra fly</documentation>
        </annotation>
      </enumeration>
      <enumeration value="37">
        <annotation>
          <documentation>Målt med laserskanner plassert i kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="38">
        <annotation>
          <documentation>brukes for objekter som er stedfestet med lineær referanse, enten disse leveres med stedfesting kun som lineære referanser, eller med koordinatgeometri avledet fra lineære referanser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>Digitised on dig.table from orthophoto/aerial photo: Geometri overført fra ortofoto eller flybilde ved hjelp av manuell registrering på et digitaliseringsbord, uspesifisert bildemedium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="41">
        <annotation>
          <documentation>Digitised from orthophoto - film: Geometri overført fra ortofoto ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er film</documentation>
        </annotation>
      </enumeration>
      <enumeration value="42">
        <annotation>
          <documentation>Digitised from orthophoto - photocopy: Geometri overført fra ortofoto ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er fotokopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="43">
        <annotation>
          <documentation>Digitised from aerial photo - mono-digitised from film: Geometri overført fra flybilde ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er film</documentation>
        </annotation>
      </enumeration>
      <enumeration value="44">
        <annotation>
          <documentation>Digitised from aerial photo - mono-digitised from photocopy: Geometri overført fra flybilde ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er fotokopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>Digitised from orthophoto: Geometri overført fra ortofoto ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="46">
        <annotation>
          <documentation>Digitised on screen from satellite photo: Geometri overført fra satellittbilde ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="47"/>
      <enumeration value="48"/>
      <enumeration value="49">
        <annotation>
          <documentation>Vektorisering fra laserdata, brukes også der vektoriseringen støttes av ortofoto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>Digitised on dig.table from line-map: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord, medium uspesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="51">
        <annotation>
          <documentation>Digitised on dig.table from pencilled original: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er blyantoriginal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>Digitised on dig.table from ??scribing folio: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er rissefolie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>Digitised on dig.table from transparency film - good quality: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er transparent folie av god kvalitet, samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>Digitised on dig.table from transparency film - lower quality: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er transparent folie av mindre god kvalitet, samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>Digitised on dig.table from paper copy: Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er papirkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>Digitised on screen from scanned photographic combination: Geometri overført fra kart ved hjelp av manuell registrering på skjerm, medium skannet kart (raster), samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Generated data (interpolation): Genererte data, interpolasjonsmetode. Ikke nærmere spesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>Generated in terrain model: Genererte data, interpolasjonsmetode, fra terrengmodell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>Weighted mean: Genererte data, interpolasjonsmetode, vektet middel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>Generated circular geometry: Genererte data: Sirkelgeometri, korridor eller annen geometri generert ut fra f.eks et punkt eller en linje (f.eks midtlinje veg)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>Generalised: Genererte data: Generalisering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65">
        <annotation>
          <documentation>Generated central point: Genererte data: Sentralpunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>Connection point/edge point: Genererte data: Sammenknytningspunkt (f.eks mellom ulike kartlegginger), randpunkt (f.eks mellom ulike kilder til kart)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="67">
        <annotation>
          <documentation>Coordinates retrieved from GAB: Koordinater hentet fra GAB, forløperen til registerdelen av matrikkelen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="68">
        <annotation>
          <documentation>Coordinates retrieved from JREG: Koordinater hentet fra JREG, jordregisteret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>Calculated: Beregnet, uspesifisert hvordan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>Special methods: Spesielle metoder, uspesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>Measured with range pole: Spesielle metoder: Målt med stikkstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>Measured with: Spesielle metoder: Målt med waterstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="73">
        <annotation>
          <documentation>Measured with measuring wheel: Spesielle metoder: Målt med målehjul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>Measured with rate of climb indicator: Spesielle metoder: Målt med stigningsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="77">
        <annotation>
          <documentation>Punkt fastsatt ut fra et grunnlag (kart, bilde), f.eks ved partenes enighet ved en oppmålingsforretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>Stipulated by court decision or royal decree: Geometri fastsatt ved dom, lov, traktat eller kongelig resolusjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>????: Annet (spesifiseres i filhode)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>Free-hand drawing: Digitalisert ut fra frihåndstegning.  Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>Digitised from sketching on map: Digitalisert fra krokering på kart, dvs grovt skissert på kart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>Directly input on screen: Digitalisert ut fra frihåndstegning (direkte på skjerm). Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>Inertial ??positioning/localization: Treghetsstedfesting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>GPS code measurement, relatively measurements: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, relative målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>GPS code measurement, individual measurements: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, enkle målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>GPS phase measurement, static measurement: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Fasemåling statisk måling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>GPS phase measurement, other methods: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Fasemåling andre metoder.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="95">
        <annotation>
          <documentation>Combination of GPS/Inertia: Kombinasjon av GPS/Treghet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>GPS phase measurement RTK: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO).: Fasemåling RTK (realtids kinematisk måling)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="97">
        <annotation>
          <documentation>GPS phase measurement, float solution: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO). Fasemåling float-løsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Unknown measurement method: Målemetode er ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="app:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="målemetode" type="app:MålemetodeType">
        <annotation>
          <documentation>metode for måling i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="app:Posisjonskvalitet"/>
    </sequence>
  </complexType>
</schema>
